<script defer src="/javascripts/monsterEdit.js"></script>
<link id="monster-edit-css" rel="stylesheet" href="/stylesheets/shared/monsterEdit.css">
<form class="build-container" action="/monsters/new" method="POST">
  <%- include('skillTree.ejs', { monster: monster, editable: true }) %>
  <div class="build-container-right">
    <div class="build-container-right-top">
      <div class="container-input container-shift-select">
        <label for="shift-select" class="label-shift-select">Shift</label>
        <select name="shift-select" id="shift-select" class="select-shift">
          <% monster.shiftPassives.forEach(passive => { %>
            <option value="<%= passive.name %>"><%= passive.name %></option>
          <% }) %>
        </select>
      </div>
      <div class="container-input container-level-select">
        <label for="level-number" class="label-level-number">Level</label>
        <input type="number" name="level-number" id="level-number" min="1" max="40" value="40">
      </div>
    </div>
    <div class="build-container-right-middle">
      <div class="build-container-gear">
        <div class="container-input container-weapon-select">
          <label for="weapon-select">Weapon</label>
          <select name="weapon-select" id="weapon-select" class="select-weapon">
            <% weapons.forEach(weapon => { %>
              <option value="<%= weapon.name %>"><%= weapon.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="container-input container-accessory-select">
          <label for="accessory-select-1">Accessory 1</label>
          <select name="accessory-select-1" id="accessory-select-1" class="select-accessory">
            <% accessories.forEach(accessory => { %>
              <option value="<%= accessory.name %>"><%= accessory.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="container-input container-accessory-select">
          <label for="accessory-select-2">Accessory 2</label>
          <select name="accessory-select-2" id="accessory-select-2" class="select-accessory">
            <% accessories.forEach(accessory => { %>
              <option value="<%= accessory.name %>"><%= accessory.name %></option>
            <% }) %>
          </select>
        </div>
        <div class="container-input container-accessory-select">
          <label for="accessory-select-3">Accessory 3</label>
          <select name="accessory-select-3" id="accessory-select-3" class="select-accessory">
            <% accessories.forEach(accessory => { %>
              <option value="<%= accessory.name %>"><%= accessory.name %></option>
            <% }) %>
          </select>
        </div>
      </div>
      <div class="container-input container-food-select">
        <select name="food-select-1" id="food-select-1" class="select-food">
          <% food.forEach(food => { %>
            <option value="<%= food.name %>"><%= food.name %></option>
          <% }) %>
        ></select>
        <select name="food-select-2" id="food-select-2" class="select-food">
          <% food.forEach(food => { %>
            <option value="<%= food.name %>"><%= food.name %></option>
          <% }) %>
        ></select>
        <select name="food-select-3" id="food-select-3" class="select-food">>
          <% food.forEach(food => { %>
            <option value="<%= food.name %>"><%= food.name %></option>
          <% }) %>
        ></select>
      </div>
    </div>
    <div class="container-additional-options">
      <div>
        <input type="checkbox" name="skill-potion" id="skill-potion">
        <label for="skill-potion">Skill Potion</label>
      </div>
      <div>
        <input type="checkbox" name="is-starter" id="is-starter">
        <label for="is-starter">Starter?</label>
      </div>
    </div>
    <input type="submit" value="Submit" class="monster-form-submit">
  </div>
  <input type="hidden" name="selected-skills">
</form>
