<script defer src="/javascripts/monsterDisplay.js"></script>
<h3><%= monster.name %></h3>
<div style="display: flex;">
  <span>
    <h4>Types</h4>
    <% monster.monsterTypes.forEach(t => { %>
      <%= t %><br>
    <% }) %> 
    <h4>Weaknesses</h4>
    <% monster.weaknesses.forEach(w => { %>
      <%= w %><br>
    <% }) %> 
    <h4>Resistances</h4>
    <% monster.resistances.forEach(r => { %>
      <%= r %><br> 
    <% }) %>
  </span>
  <span style="margin-left: 1rem;">
    <h4>Stats</h4>
    <div class="stat-container">
      <span>
        Attack<br>
        Magic<br>
        Defense<br>
        Health<br>
        Mana<br>
      </span>
      <span>
        <% monster.stats.forEach(s => { %> 
          <div class="stat-pip-container">
            <% for(let i = 0; i < s; i++) { %>
              <div class="stat-pip"></div>
            <% } %>
            <br>
          </div>
        <% }) %> 
      </span>
    </div>
    <h4>Light Shift Stats</h4>
    <div class="stat-container">
      <span>
        Attack<br>
        Magic<br>
        Defense<br>
        Health<br>
        Mana<br>
      </span>
      <span>
        <% for (let i = 0; i < monster.stats.length; i++) { %> 
          <div class="stat-pip-container">
            <% for (let j = 0; j < monster.stats[i]; j++) { %>
              <div class="stat-pip"></div>
            <% } %>
            <% for (let j = 0; j < monster.shiftBonusLight[i]; j++) { %>
              <div class="stat-pip stat-pip-light"></div>
            <% } %>
            <br>
          </div>
        <% } %> 
      </span>
    </div>
    <h4>Dark Shift Stats</h4>
    <div class="stat-container">
      <span>
        Attack<br>
        Magic<br>
        Defense<br>
        Health<br>
        Mana<br>
      </span>
      <span>
        <% for (let i = 0; i < monster.stats.length; i++) { %> 
          <div class="stat-pip-container">
            <% for (let j = 0; j < monster.stats[i]; j++) { %>
              <div class="stat-pip"></div>
            <% } %>
            <% for (let j = 0; j < monster.shiftBonusDark[i]; j++) { %>
              <div class="stat-pip stat-pip-dark"></div>
            <% } %>
            <br>
          </div>
        <% } %> 
      </span> 
    </div>
  </span>
</div>
<h4>Light Shift Passive</h4>
<p><%= monster.shiftPassiveLight.name %>: <%= monster.shiftPassiveLight.description %> </p>
<h4>Dark Shift Passive</h4>
<p><%= monster.shiftPassiveDark.name %>: <%= monster.shiftPassiveDark.description %> </p>
<div class="skill-tree-container">
  <% monster.skills.trees.forEach(tree => { %>
    <div class="skill-tree">
      <div class="skill-tree-level skill-tree-level-one">
        <% tree.levelOne?.startSkills.forEach(skill => { %>
          <%- include('../partials/skillCheckbox.ejs', { skill: skill })%>
        <% }) %>
      </div>
      <div class="skill-tree-level skill-tree-level-one">
        <% tree.levelOne?.skills.forEach(skill => { %>
          <%- include('../partials/skillCheckbox.ejs', { skill: skill })%>
        <% }) %>
      </div>
      <div class="skill-tree-level">
        <% tree.levelTen?.forEach(skill => { %>
          <%- include('../partials/skillCheckbox.ejs', { skill: skill })%>
        <% }) %>
      </div>
      <div class="skill-tree-level">
        <% tree.levelTwenty?.forEach(skill => { %>
          <%- include('../partials/skillCheckbox.ejs', { skill: skill })%>
        <% }) %>
      </div>
      <div class="skill-tree-level">
        <% tree.levelThirty?.forEach(skill => { %>
          <%- include('../partials/skillCheckbox.ejs', { skill: skill })%>
        <% }) %>
      </div>
    </div>
  <% }) %>
</div>