<h3><%= monster.name %></h3>

<div class="monster-sprites">
  <img src="<%= monster.spriteImagePath %>" alt="<%= monster.name %>">
  <img src="<%= monster.spriteImageLightPath %>" alt="Light <%= monster.name %>">
  <img src="<%= monster.spriteImageDarkPath %>" alt="Dark <%= monster.name %>">
</div>

<div style="display: flex;">
  <div>
    <h4>Types</h4>
    <% monster.monsterTypes.forEach(t => { %>
      <%= t %><br>
    <% }) %> 
    <h4>Weaknesses</h4>
    <% monster.weaknesses.forEach(w => { %>
      <%= w %><br>
    <% }) %> 
    <h4>Resistances</h4>
    <% monster.resistances.forEach(r => { %>
      <%= r %><br> 
    <% }) %>
  </div>
  <div style="margin-left: 1rem;">
    <h4>Stats</h4>
    <div class="stat-container">
      <div>
        Attack<br>
        Magic<br>
        Defense<br>
        Health<br>
        Mana<br>
      </div>
      <div>
        <% monster.stats.forEach(s => { %> 
          <div class="stat-pip-container">
            <% for(let i = 0; i < s; i++) { %>
              <div class="stat-pip <%= i == 4 ? 'stat-pip-gap' : '' %>"></div>
            <% } %>
            <br>
          </div>
        <% }) %> 
      </div>
    </div>
    <h4>Light Shift Stats</h4>
    <div class="stat-container">
      <div>
        Attack<br>
        Magic<br>
        Defense<br>
        Health<br>
        Mana<br>
      </div>
      <div>
        <% for (let i = 0; i < monster.stats.length; i++) { %> 
          <div class="stat-pip-container">
            <% let j
               for (j = 0; j < monster.stats[i]; j++) { %>
              <div class="stat-pip <%= j == 4 ? 'stat-pip-gap' : '' %>"></div>
            <% } %>
            <% for (let k = 0; k < monster.shiftBonusLight[i]; k++) { %>
              <div class="stat-pip stat-pip-light <%= j+k == 4 ? 'stat-pip-gap' : '' %>"></div>
            <% } %>
            <br>
          </div>
        <% } %> 
      </div>
    </div>
    <h4>Dark Shift Stats</h4>
    <div class="stat-container">
      <div>
        Attack<br>
        Magic<br>
        Defense<br>
        Health<br>
        Mana<br>
      </div>
      <div>
        <% for (let i = 0; i < monster.stats.length; i++) { %> 
          <div class="stat-pip-container">
            <% let j
               for (j = 0; j < monster.stats[i]; j++) { %>
              <div class="stat-pip <%= j == 4 ? 'stat-pip-gap' : '' %>"></div>
            <% } %>
            <% for (let k = 0; k < monster.shiftBonusDark[i]; k++) { %>
              <div class="stat-pip stat-pip-dark <%= j+k == 4 ? 'stat-pip-gap' : '' %>"></div>
            <% } %>
            <br>
          </div>
        <% } %> 
      </div> 
    </div>
  </div>
</div>

<% monster.shiftPassives.forEach(passive => { %>
  <h4><%= passive.isLight ? 'Light ' : 'Dark ' %>Shift Passive</h4>
  <p><%= passive.name %>:&Tab;<%= passive.description %> </p>
<% }) %>

<%- include('../partials/skillTree.ejs', { monster: monster, editable: false, buildSkills: null }) %>