<div class="skill <%= skill.isActive ? 'skill-active' : '' %> ">
  <img class="skill-img skill-img-editable" src="<%= skill.skill?.iconImagePath %>" alt="<%= skill.name %>">
  <input type="checkbox" class="<%= isUltimate ? 'skill-checkbox-ultimate' :'skill-checkbox'%>" name="<%= id %>" id="<%= id %>" data-preReqs="<%= skill.preReqs %>">
</div>