<div class="skill <%= skill.isActive ? 'skill-active' : '' %> ">
  <img class="skill-img skill-img-editable" 
       src="<%= skill.skill.iconImagePath %>" 
       alt="<%= skill.name %>" 
       style="<%= checked ? 'opacity: 100%;' : 'opacity: 50%' %>">
  <input type="checkbox" class="<%= isUltimate ? 'skill-checkbox-ultimate' :'skill-checkbox'%>" 
         name="<%= id %>" id="<%= id %>" data-preReqs="<%= skill.preReqs %>"
         <%= checked ? 'checked' : '' %>>
	<% if (level != null) { %> 
		<div class="skill-level-number">
			<%= level %> 
		</div>
	<% } %> 
</div>